<div id="{{this._id}}" class="row">
  <div class="col-xs-8">{{this.beer}}</div>
  <div class="col-xs-2">{{this.season}}</div>
  <div class="col-xs-2">  
    {{#if this.isGood}}
      <i class="fa fa-thumbs-up" />
    {{else}}
      <i class="fa fa-thumbs-down" />
    {{/if}}
  </div>
</div>