<div>
	<h1>Nick's Beer List</h1>
	<hr />
	<div>
		<div class="row">
			<div class="col-xs-8">
				<select class="form-control" id="beer-tried">
					<option>Show them all.</option>
					<option>Tried it.</option>
					<option>Need it.</option>
				</select>
			</div>
			<div class="col-xs-2">
				<select class="form-control" id="beer-season">
					<option>All</option>
					<option>Non-Seasonal</option>
					<option>Spring</option>
					<option>Summer</option>
					<option>Fall</option>
					<option>Winter</option>
				</select>
			</div>
			<div class="col-xs-2"><strong>Is Good</strong></div>
		</div>
		<div data-region="beer-list"></div>
	</div>
</div>