<div>
	<h3>Hello User</h3>
	<h1>Beer List</h1>
	<hr />
	<div>
		<div class="row">
			<div class="col-xs-1 col-mid-1"><strong>Try It</strong></div>
			<div class="col-xs-3 col-mid-3"><strong>Beer</strong></div>
			<div class="col-xs-3 col-mid-3"><strong>Brewery</strong></div>
			<div class="col-xs-3 col-mid-3"><strong>Style</strong></div>
			<div class="col-xs-1 col-mid-1"><strong>Season</strong></div>
			<div class="col-xs-1 col-mid-1"><strong>Is Good</strong></div>
		</div>
		<div data-region="beer-list"></div>
	</div>
</div>