  <table class="table table-striped">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Brewery</th>
      <th>Style</th>
      <th>Season</th>
    </tr>
  </thead>
  <tbody>
    {{#each beers}}
    <tr>
      <td>{{this.attributes.beer}}</td>
      <td>{{this.attributes.brewery}}</td>
      <td>{{this.attributes.style}}</td>
      <td>{{this.attributes.season}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>