<div class="modal-dialog modal-primary">
  <form class="modal-content" role="form">
    <div class="modal-header">
      <h4 class="modal-title">BEER MODAL</h4>
    </div>

    <div class="modal-body">
    	<h3>{{this.beer}}</h3>
    </div>

    <div class="modal-footer">
    </div>
  </form>
</div>